@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #F9FAFB;
}

@import 'frappe-ui/src/style.css';
